*{
    font-family: 'Noto Sans', sans-serif;
}
body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 100px;
}
ul{
    margin: auto;
}
header{
    background-color: #0b3d1e;
    padding:20px 200px ;
    display: flex;
    justify-content:center;
    flex-direction: row;
    font-family: 'Inconsolata', monospace;
    align-items:center;
    margin-bottom: 20px;
    height: 5em;
}


#logo {
    width: 100px;
    margin-right:50px;
}
header li {
    display: inline-block;
    vertical-align: middle;
}
header a{
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FFF;
    
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    transition: 0.3s all;
    display: inline;
    padding: 10px;
    border-radius: 5px;
    margin: 0 5px;
}

header a:hover {
    background-color: #ffffff8e;
    color: #0b3d1e;
}

header a:active {
    color:#ffffff;
    
}
.inte{
    padding: 20px;
}
h1{
    font-size: 40px;
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    color: #2e2e2e;
}

h2{
    font-size: 30px;
    margin: 20px auto;
    font-weight: bold;
    color: #2e2e2e;
}


.container1
{
    background-color: #7d817e86;
    border-radius: 50px;
    padding: 20px;
}

.mapa{
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.mapa img{
    width: 50%;
    display: block;
}